<br>
<div id="menutienda">
<a href="tienda">Ordenar por aparición</a>
<a href="tiendapeso">Ordenar por peso</a>
<a href="tiendaprecio">Ordenar por precio</a>
<a href="tiendapesoinverso">Ordenar por peso inverso</a>
<a href="tiendaprecioinverso">Ordenar por precio inverso</a>
<a href="tiendainversa">Ordenar por aparición inversa</a>
</div>