@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="admin.css"/>
    </head>
    <body>
        <div id="contenedor">
            @RenderPage("menu.cshtml")
            <div id="contenido">
                 <h1>Este es el panel de control</h1>           
            </div>
        </div>

    </body>
</html>
