
            <div id="menulateral">
                <ul>
                     <li><a href="nuevoproductoform">Crear un nuevo producto</a></li>
                     <li><a href="listadoproductos">Ver la lista de productos</a></li>
                     <li><a href="estadisticasventas">Estadísticas de las ventas</a></li>
                     <li><a href="ventasdb">Estadísticas desde la base de datos</a></li>
                     <li><a href="estadisticatarta">Estadísticas de ventas por tipo de producto</a></li>
                     <li><a href="informacionservidor.php">Información del servidor</a></li>
                </ul>
            </div>
